#gesture_to_text {
    word-spacing: normal;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-top: 50px;
    background-color: blue;
    width: 500;
}

#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}

body
{
  color: white;
  background: #c0d3ff;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#result_gesture_name ,#result_gesture_name2  
{
  color: black;
}
.gesture_name
{
  font-size: 40px;
}
.gesture
{
  font-size:48px;
}

.heading {
  font-size:18px;
  border-radius:10px;
  letter-spacing:10px;
}
  
label{
  font-size: 14px;
  color: green;
  background-color: whitesmoke;
  padding: 10px;
  border-radius:10px;
}


